{%extends 'auctions/layout.html'%}

{%block body%}
    <h2>Active Listings</h2>
    <ul>
        {% for list in Listings %}
            <h2><a href="{%url 'item' list.pk%}">{{ list.title }}</a></h2>
            {%if list.image%}
            <img href="{{list.image}}" alt="{{ list.title }}" />
            {%endif%}
            {%if list.category%}
                <p>Category: {{list.category}}</p>
            {%endif%}
            <h6>Final bid: ${{ list.currentBid }}</h6>
            <p>Posted by: <span class="red">{{ list.user }}</span></p>        
        {% endfor%}
    </ul>
{%endblock%}